{% extends 'base.html' %}
{% block main %}
{% if msg is not none %}
    <p style="color: green;">{{msg}}</p>
{% endif %}

<form method="POST" action="{{url_for('register')}}">

    <label for="name">Nome:</label><br>
    <input type="text" name="name"> <br>
    <label for="desc">CPF:</label><br>
    <input type="text" name="cpf"> <br>
    <label for="price">Telefone:</label><br>
    <input type="text" name="telefone"> <br>
    <input type="submit" value="Cadastrar">

</form>

{% endblock %}